.item {
    background-color: #ffffff6b;
    position: relative;
    flex-basis: 20%;
    padding: 20px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 420px;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    min-width: 300px;
    max-width: 400px;
}
.item a {
    color: black;
    text-decoration: none;
}
.item a div {
    position: absolute;
    top: 15px;
    left: 25px;
}
.imgcontainer {
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.item img {
    width: 200px;
    filter: drop-shadow(2px 4px 6px black);
}
