.itemListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 100px;
}
.itemListContainer h1 {
    color: white;
    width: 100%;
    text-align: center;
}