.checkout{
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkout label {
    width: 80px;
}
.checkout div {
    margin: 10px;
}
#finalizar {
    background-color: black;
    padding: 10px;
    color: wheat;
}
input[type="text"],input[type="email"] {
    color: black;
}