.bi-cart {
    position: absolute;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 6px black;
    top: 0;
    right: 15px;
}

nav {
    margin: 0 !important;
    width: 100%;
  }

  nav ul li:hover {
      background-color: rgba(10, 7, 1, 0.521);
  }
  .activeLink {
    background-color: rgba(10, 7, 1, 0.521);
    color: white!important;
}
.circle {
    position: relative;
    bottom: 5px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%;
    background-color: #1f982dad;
    display: flex;
    justify-content: center;
    align-items: center;
}