* {
    box-sizing: border-box;
}
.itemDetail .image{
    width: 200px;
    
}
.itemDetail {
    display: flex;
    align-items: center;
}
.detailImageContainer {
    width: 100%;
    text-align: center;
}
.desc h2,
.desc p,
.desc h4 {
    margin-bottom: 20px;
}
.desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}