.ItemCount {
    display: flex;
    width: 135px;
}
.counter {
    background: white;
    flex-basis: 30%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.countNumber {
    font-weight: 900;
    font-size: 15px;
    justify-content: center;
    display: flex;
    flex-basis: 60%;
    align-items: center;
}

.addToCart {
    width: 135px;
    padding: 10px;
    margin-top: 10px;
}