.bi-cart {
    position: absolute;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 6px black;
    top: 0;
    right: 15px;
}

nav {
    margin: 0 !important;
    width: 100%;
  }
  nav ul li {
   
      border-radius: 5px;
      display: inline-block;
      padding: 15px;
      color: white;
  }
  nav ul li:hover {
      background-color: rgba(10, 7, 1, 0.521);
  }